.header{
      height: 55px;
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 200;
      background-color: white;
      border-bottom: 1px solid gray;
    }

    .left-section{
      display: flex;
      align-items: center;
    }

    .hamburger-menu{
      height: 20px;
      margin: 0px 24px;
    }

    .youtube-logo{
      height: 20px;
    }

    .middle-section{
      display: flex;
      flex: 1;
      align-items: center;
      margin-left: 70px;
      margin-right: 35px;
      max-width: 500px;
    }

    .search-bar{
      flex: 1;
      height: 36px;
      padding-left: 12px;
      font-size: 16px;
      border: 1px solid rgb(161, 161, 161);
      border-radius: 3px;
      box-shadow: inset 1px 1px 1px rgba(175, 175, 175, 0.5);
      width: 0;
    }

    .search-bar::placeholder{
      font-size: 16px;
    }

    .search-button{
      height: 40px;
      width: 63px;
      margin-left: -2px;
      background-color: rgb(245, 244, 244);
      border: 1px solid rgb(194, 193, 193);
      margin-right: 10px;
    }

    .search {
      margin-top: 4px;
      height: 30px;
    }

    .voice-search-btn {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      border: none;
      background-color: rgb(245, 244, 244);
    }

    .voice-search {
      margin-top: 4px;
      height: 20px;

    }

    .right-section {
      display: flex;
      align-items: center;
    }

    .upload-icon,
    .youtube-apps,
    .notifications,
    .my-channel {
      height: 30px;
      width: 30px;
    }

    .youtube-apps {
      margin: 0px 30px;
    }

    .my-channel {
      margin: 0px 30px;
    }

    .notifications-container {
      position: relative;
    }
    .notifications-count {
      position: absolute;
      top: -1px;
      right: -1px;
      background-color: rgb(204, 0, 0);
      color: white;
      border-radius: 50%;
      font-size: 11px;
      padding: 3px;
    }