.sidebar{
      position: fixed;
      top: 55px;
      bottom: 0;
      left: 0;
      width: 72px;
      z-index: 100;
      background-color: white;
      padding-top: 5px;
    }

    .sidebar-link{
      height: 74px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .sidebar-link:hover{
      background-color: rgb(224, 224, 224);
    }

    .sidebar-link img{
      height: 24px;
      margin-bottom: 4px;
    }

    .sidebar-link div{
      font-size: 10px;
    }