    .video-title{
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 14px;
    }

    .thumbnail-row{
      margin-bottom: 8px;
      position: relative;
    }

    .description-container{
     display: grid;
     grid-template-columns: 50px 1fr;
    }

    .video-author,
    .video-stats{
      color: rgb(96, 96, 96);
      font-size: 12px;
    }

    .video-author{
      margin-bottom: 8px;
    }

    .thumbnail{
      width: 100%;
    }
    
    .channel-picture{
      width: 50px;
      display: inline-block;
      vertical-align: top;
    }

    .video-description{
      display: inline-block;
    }

    .profile-picture{
      width: 36px;
      border-radius: 50%;
    }

    .video-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;
    }

    @media (max-width: 750px){
      .video-grid{
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (max-width: 751px) and (min-width: 999px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

     @media (min-width: 1000px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    .video-time{
      font-size: 12px;
      font-weight: 500;
      padding: 4px 4px 4px 4px;
      background-color: black;
      border-radius: 2px;
      color: white;
      position: absolute;
      bottom: 8px;
      right: 6px;
    }

    .video-link{
      text-decoration: none;
      color: black;
    }